html {
  height: 100%;
}

.App {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -50px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: grey;
}

header {
  display: flex;
  background-color: grey;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  padding: 20px;
}

.menu-container {
  padding: 5px;
  max-width: 10%;
  width: 2.5em;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
}

.user-component {
 margin: 10px;
}

.feature-list {
  list-style-type: none;
}

.title {
  font-size: 2em;
  flex: 1;
  margin: 10px;
}
.dashboard {
  display: flex;
}
.list-container {
  flex: 1;
}

.content {
  flex: 1;
}

#new-delete-list {
  display: flex;
}

#new-purchase-delete-item {
  display: flex;
}
